 /*ONROAD作业动画*/
.ONROAD .tree {
    animation: ONROAD 3s linear infinite;
    background: url(../../../js/mod/popup/images/ROAD/tree.png) no-repeat;
    transform: rotate(-30deg); 
}
.ONROAD .car {
    background: url(../../../js/mod/popup/images/ROAD/car.png) no-repeat 50% 120px;
    transform: rotate(-30deg); 
}
.ONROAD .base {
    background: url(../../../js/mod/popup/images/ROAD/base.png) no-repeat 0 -24px;
}
@keyframes ONROAD
{
    0%   {background-position: -536px 100px;}
    100%  {background-position: -272px 100px;}
}

/*OUTYARD作业动画*/
.OUTYARD .base {
    background: url(../../../js/mod/popup/images/YARD/base.png) no-repeat 0 -34px;
}
.OUTYARD .gantrycrane {
    background: url(../../../js/mod/popup/images/YARD/gantrycrane.png) no-repeat 80% 17%;
    animation: OUTYARDMoveGan 5s linear infinite;
    z-index: 10;
}
.OUTYARD .grabUp {
    background: url(../../../js/mod/popup/images/YARD/grabUp.png) no-repeat 80% 23%;
    animation: OUTYARDMoveGrabUp 5s linear infinite;
    z-index: 10;
}
.OUTYARD .grabDown {
    animation: OUTYARDMoveGrabDown 5s linear infinite;
    z-index: 1;
}
.OUTYARD .guardrail {
    background: url(../../../js/mod/popup/images/YARD/guardrail.png) no-repeat 76% 16%;
    animation: OUTYARDMoveGuardrail 5s linear infinite;
    z-index: 10;
}
.OUTYARD .car {
    background: url(../../../js/mod/popup/images/YARD/emptyCar.png) no-repeat 88% 48%;
    animation: OUTYARDMoveEmptyCar 5s linear infinite;
    z-index: 1;
}
@keyframes OUTYARDMoveGan
{
    0%   {background-position: 80% 17%}
    20%   {background-position: 80% 17%}
    40%  {background-position: 50% 48%;}
    100% {background-position: 50% 48%;}
}
@keyframes OUTYARDMoveGrabUp
{
    0%   {background-position: 80% 23%}
    20%   {background-position: 80% 23%}
    40%  {background-position: 55% 44%;}
    60%  {background-position: 46% 36%;}
    80% {background-position: 55% 44%;}
    100% {background-position: 55% 44%;}
}
@keyframes OUTYARDMoveGrabDown
{
    0%   {}
    20%   {}
    40%  {}
    59.9%  {background: none;}
    60%  {background: url(../../../js/mod/popup/images/YARD/grabDown.png) no-repeat; background-position: 46% 40%; }
    80%  {background-position: 55% 50%; }
    100% {}
}
@keyframes OUTYARDMoveGuardrail
{
    0%   {background-position: 76% 16%}
    20%   {background-position: 76% 16%}
    40%  {background-position: 48% 40%;}
    100% {background-position: 48% 40%;}
}
@keyframes OUTYARDMoveEmptyCar
{
    0%   {background-position: 88% 48%}
    20% {background-position: 58% 62%;}
    80% {background-position: 58% 62%;background-image: url(../../../js/mod/popup/images/YARD/emptyCar.png)}
    80.1% {background-image: url(../../../js/mod/popup/images/YARD/fullCar.png)}
    100% {background-position: 28% 87%; background-image: url(../../../js/mod/popup/images/YARD/fullCar.png)}
}

/*INYARD作业动画*/
.INYARD .base {
    background: url(../../../js/mod/popup/images/YARD/base.png) no-repeat 0 -34px;
}
.INYARD .gantrycrane {
    background: url(../../../js/mod/popup/images/YARD/gantrycrane.png) no-repeat 80% 17%;
    animation: INYARDMoveGan 5s linear infinite;
    z-index: 10;
}
.INYARD .grabUp {
    background: url(../../../js/mod/popup/images/YARD/grabUp.png) no-repeat 80% 23%;
    animation: INYARDMoveGrabUp 5s linear infinite;
    z-index: 10;
}
.INYARD .grabDown {
    animation: INYARDMoveGrabDown 5s linear infinite;
    z-index: 1;
}
.INYARD .guardrail {
    background: url(../../../js/mod/popup/images/YARD/guardrail.png) no-repeat 76% 16%;
    animation: INYARDMoveGuardrail 5s linear infinite;
    z-index: 10;
}
.INYARD .car {
    background: url(../../../js/mod/popup/images/YARD/fullCar.png) no-repeat 88% 48%;
    animation: INYARDMoveFullCar 5s linear infinite;
    z-index: 1;
}
@keyframes INYARDMoveGan
{
    0%   {background-position: 80% 17%}
    20%   {background-position: 80% 17%}
    40%  {background-position: 50% 48%;}
    100% {background-position: 50% 48%;}
}
@keyframes INYARDMoveGrabUp
{
    0%   {background-position: 80% 23%}
    20%   {background-position: 80% 23%}
    40%  {background-position: 55% 44%;}
    60%  {background-position: 46% 36%;}
    80% {background-position: 55% 44%;}
    100% {background-position: 55% 44%;}
}
@keyframes INYARDMoveGrabDown
{
    0%   {}
    20%   {}
    39.9%  {background: none; }
    40%  {background: url(../../../js/mod/popup/images/YARD/grabDown.png) no-repeat;background-position: 55% 50%;}
    60%  {background: url(../../../js/mod/popup/images/YARD/grabDown.png) no-repeat;background-position: 46% 40%;}
    60.1%  {background: none; }
    100% {}
}
@keyframes INYARDMoveGuardrail
{
    0%   {background-position: 76% 16%}
    20%   {background-position: 76% 16%}
    40%  {background-position: 48% 40%;}
    100% {background-position: 48% 40%;}
}
@keyframes INYARDMoveFullCar
{
    0%   {background-position: 88% 48%}
    20% {background-position: 58% 62%;}
    39.9% {background-image: url(../../../js/mod/popup/images/YARD/fullCar.png)}
    40% {background-image: url(../../../js/mod/popup/images/YARD/emptyCar.png);background-position: 58% 62%;}
    80% {background-image: url(../../../js/mod/popup/images/YARD/emptyCar.png);background-position: 58% 62%;}
    100% {background-position: 28% 87%; background-image: url(../../../js/mod/popup/images/YARD/emptyCar.png)}
}